<body class="demo-theme-dashboard" onload="settings()">

    <div class="container">

      <nav>
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="./index.html">Pageviews</a></li>
          <li role="presentation"><a href="./clicks.html">Clicks</a></li>
          <li role="presentation"><a href="./forms.html">Forms</a></li>
          <li role="presentation" class="active"><a href="./forms.html">User Behavior</a></li>
        </ul>
      </nav>

      <h3 id="timeframe"></h3>

      <div class="keen-ui-row">
        <div class="keen-ui-col-8">
          <div id="page-nav-chart"></div>
        </div>
        <div class="keen-ui-col-4">
          <div class="search-info"></div>
        </div>
      </div>

      <div>
        <div class="keen-ui-col-8">
          <div class="abandonment-info"></div>
        </div>
        <div class="keen-ui-col-4">
          <div class="top-page-info"></div>
        </div>
      </div>

    </div>
    </body>
    <%= javascript_include_tag "behavior" %>