<div class="container">

    <div class="mt-5 mb-4 w-100 d-flex row m-0">
      <h4 class="flex-fill mb-0 col-xs-12">
        Fairwinds Analytics <span id="header-tab-name" class="text-capitalize"></span>
      </h4>
      <div class="align-self-end text-black-50 col-xs-12" id="current-datetime"></div>
    </div>